# the directory containing the JOSIE and MATE databases, results, ...
data

# Go (keep only the JOSIE code subfolder)
go
# !go/src/github.com

TaBERT

MATE/*
!MATE/src

models

deepjoin
table_bert
experiments/multi_key_join/*
!experiments/multi_key_join/*.py

.git
.vscode

cache
**__pycache__**
pyrightconfig.json
