# the folder where will be stored tests results, statistics and other big files
data/tests

# the original datasets as have been downloaded
data/raw_dataset

# the PostgreSQL database directories
data/pg_build_dir
data/postgresql-10.0
data/pg_data

# Go (keep only the JOSIE code subfolder)
go/*
!go/src/github.com

**test**

src
TaBERT

documentation

models
notebooks

experiments/deepjoin
experiments/multi_key_join/analyses*
experiments/multi_key_join/*header*
experiments/multi_key_join/wikiturlsnap
experiments/multi_key_join/gittables
experiments/multi_key_join/santoslarge
experiments/multi_key_join/sloth_overlap.py
experiments/multi_key_join/find_frequent_headers.py




**__pycache__**
.git
.vscode
pyrightconfig.json
