# the folder where will be stored tests results, statistics and other big files
data/tests

# the original datasets as have been downloaded
data/raw_dataset

# the PostgreSQL database directories
data/pg_build_dir
data/postgresql-10.0
data/pg_data

# Go (keep only the JOSIE code subfolder)
go/*
!go/src/github.com

documentation

models
**__pycache__**
.git
.vscode
pyrightconfig.json
