numpy
pandas
polars
jsonlines
nltk
tqdm
scipy<1.13
compress-fasttext           # compress-fasttext[full] for advanced tasks
sentence-transformers
faiss-cpu
# faiss-gpu                 # stricly needs conda, not pyenv
chromadb
