mmh3
tqdm
nltk
numpy
pandas
polars
psycopg
pymongo
# jenkspy
pyspark
# chromadb
jsonlines
faiss-cpu
# scipy<1.13
compress-fasttext           # compress-fasttext[full] for advanced tasks
# torch==2.2.*
# sentence-transformers     # non necessario per i test con JOSIE
# faiss-gpu                 # stricly needs conda, not pyenv
